*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/app/src/main/assets/index.json
/app/src/main/assets/bundle_version
/app/src/main/assets/mainsail_version
/app/src/main/assets/fluidd_version
/app/src/main/assets/klipper/klippy/
/app/src/main/assets/klipper/config/
/app/src/main/assets/klipper/docs/
/app/src/main/assets/mainsail/
/app/src/main/assets/fluidd/
/app/src/main/assets/moonraker/moonraker/
app/release/

/app/src/main/jni/host_mcu/board/
/app/src/main/jni/host_mcu/klipper_src/